<?php
    $server = "";
    $user = "";
    $password = "";
    $database = "";

    $connection = mysqli_connect($server, $user, $password, $database);

    if(!$connection){
        // Handle connection error here
    } else {
        // Connection is successful
    }
?>
